{{> adminHeader}}
<div class="m-grid__item m-grid__item--fluid m-wrapper">

	<div class="m-content">
		{{#if error}}
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			</button>
			<strong>Oh snap!</strong> {{error}}
		</div>
		{{/if}}
		{{#if success}}
		<div class="alert alert-success alert-dismissible fade show" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			</button>
			<strong>Success!</strong> {{success}}
		</div>
		{{/if}}

		<div class="m-portlet m-portlet--mobile">
      <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
          <div class="m-portlet__head-title">
            <h3 class="m-portlet__head-text">
              Ban Appeals
            </h3>
          </div>
        </div>
      </div>
      <div class="m-portlet__body">
        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" id="ban-appeals_table">
          <thead>
            <tr>
              <th>User</th>
              <th>Appeal Reason</th>
              <th>Appeal Date</th>
              <th>Unban</th>
            </tr>
          </thead>
          <tbody>
            {{#each appeals}}
            <tr>
              <td><a href="/admin/view-user/{{this.user_id}}">{{this.user_email}}</a></td>
              <td>{{this.appeal_reason}}</td>
              <td>{{this.appeal_date}}</td>
              <td nowrap>{{this.user_id}}</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>

		<!--End::Main  Portlet-->
	</div>
</div>

{{> adminFooter}}